/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY BACKGROUND */
body {
    background-color: #dcd3b8; /* beige */
}

/* TOP BAR */
.top-bar {
    background-color: #b0303b;
    color: #f4e8c1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom-right-radius: 60px;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-section img {
    width: 50px;
    height: 50px;
}

.logo-section h1 {
    font-size: 32px;
}

.menu-icon i {
    font-size: 28px;
    cursor: pointer;
}

/* MAIN CONTAINER */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* LOGIN CARD */
.login-card {
    background-color: rgba(176, 48, 59, 0.5);
    width: 400px;
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    position: relative;
}

/* PROFILE ICON */
.profile-icon {
    width: 90px;
    height: 90px;
    background-color: #b0303b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -80px auto 30px auto;
    color: white;
    font-size: 35px;
}

/* INPUT GROUP */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px 40px;
    border-radius: 25px;
    border: none;
    background-color: #f4e8c1;
    font-size: 14px;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #b0303b;
}

/* OPTIONS */
.options {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 15px;
}

.options a {
    text-decoration: none;
    color: black;
}

.signup-text {
    font-size: 13px;
    margin-bottom: 20px;
}

.signup-text a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

/* LOGIN BUTTON */
.login-btn {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background-color: #b0303b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #8e1f28;
}